/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===================================
              GERAL   
=====================================*/
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(10px + 1vw);
}
a{
    color: black;
    text-decoration: none;
}
main{
	margin: 0 15vw 0 15vw;
}

/*===================================
              TOPO
=====================================*/

header{
	margin: 4vw 8vw 4vw 8vw;
}
header nav {
	display: flex;
	justify-content: space-between;
}
header nav ul {
	display: flex;
	color: black;
    font-size: 0.8rem;
}
header nav div.sound {
	margin: 0 10vw 5vw 5vw;
	
}
header nav div.topo {
	margin: 0vw 5vw 5vw 5vw;
	
}
header nav div.topo ul li.login {
	margin: 0 0 0 3vw;
}

/*=====================/*===================================
              CONTEÚDO - Video call
=====================================*/
            
section.primeiro div.tudo {
	display: flex;
}
section.primeiro div.titulo {
	margin: 5vw 5vw 5vw 15vw;
	font-size: 2rem;
}
section.primeiro div.texto1 {
	margin: 0vw 0vw 3vw 5vw;
	font-size: 0.8rem;
	color: gray;
}
section.primeiro div.imagemsa {
	margin: 0 5vw 10vw 20vw;
}
section.primeiro div.linha {
	margin: 0 0 0 5vw;
}

/*=====================/*===================================
              CONTEÚDO - Browse our 
=====================================*/ 

section.segundo {
	display: flex;
	margin: 8vw 0 0 0;
}
section.segundo div.separar {
	margin: 2vw 2vw 2vw 6vw;
	font-size: 1.5rem;
}
section.segundo div.lorem {
	font-size: 0.8rem;
	margin: 3vw 15vw 0 0;
}
section.segundo div.online {
	margin: 0 0 0 5vw;
}
section.segundo div.online


/*=====================/*===================================
              CONTEÚDO - Rodapé
=====================================*/ 

footer div.linha1 {
	margin: 5vw 0 0 22vw;
}
footer div.sociais {
	display: flex;
	margin: 5vw 0 0 40vw;

}
footer div.sociais p img {
	padding: 0px 0px 0px 15px;
}
footer div.copia {
	margin: 2vw 5vw 5vw 33vw;
}